unity/Assets/Textures/.mayaSwatches/petalRose_diff.jpg_hcm.swatch
unity/Assets/Textures/.mayaSwatches/petalRose_alpha.jpg_hcm.swatch
unity/Assets/Textures/.mayaSwatches/lanterne_diff.jpg_hcm.swatch
unity/Temp/
unity/Library/
unity/obj/
unity/.vs/
unity/Assets/AmplifyShaderEditor/Plugins/EditorResources/UI/Canvas.meta
unity/Assets/AmplifyShaderEditor/Plugins/EditorResources/UI/Buttons.meta
unity/Assets/AmplifyShaderEditor/Plugins/EditorResources/UI.meta
unity/Assets/AmplifyShaderEditor/Plugins/EditorResources/Textures.meta
unity/Assets/AmplifyShaderEditor/Plugins/EditorResources/Templates/SRP.meta
unity/Assets/AmplifyShaderEditor/Plugins/EditorResources/Templates/Legacy.meta
unity/Assets/AmplifyShaderEditor/Plugins/EditorResources/Templates.meta
unity/Assets/AmplifyShaderEditor/Plugins/EditorResources/Shaders.meta
unity/Assets/AmplifyShaderEditor/Plugins/EditorResources/ShaderLibrary.meta
unity/Assets/AmplifyShaderEditor/Plugins/EditorResources/ShaderFunctions.meta
unity/Assets/AmplifyShaderEditor/Plugins/EditorResources/Previews.meta
unity/Assets/AmplifyShaderEditor/Plugins/EditorResources/Nodes.meta
unity/Assets/AmplifyShaderEditor/Plugins/EditorResources/GUISkins.meta
unity/Assets/AmplifyShaderEditor/Plugins/EditorResources.meta
unity/Assets/AmplifyShaderEditor/Plugins/Editor/Wires.meta
unity/Assets/AmplifyShaderEditor/Plugins/Editor/Version.meta
unity/Assets/AmplifyShaderEditor/Plugins/Editor/Templates.meta
unity/Assets/AmplifyShaderEditor/Plugins/Editor/Nodes/Vertex/Tessellation.meta
unity/Assets/AmplifyShaderEditor/Plugins/Editor/Nodes/Vertex.meta
unity/Assets/AmplifyShaderEditor/Plugins/Editor/Nodes/Textures.meta
unity/Assets/AmplifyShaderEditor/Plugins/Editor/Nodes/SurfaceShaderInputs.meta
unity/Assets/AmplifyShaderEditor/Plugins/Editor/Nodes/SimpleNodes.meta
unity/Assets/AmplifyShaderEditor/Plugins/Editor/Nodes/Operators.meta
unity/Assets/AmplifyShaderEditor/Plugins/Editor/Nodes/Misc/Transformation.meta
unity/Assets/AmplifyShaderEditor/Plugins/Editor/Nodes/Misc.meta
unity/Assets/AmplifyShaderEditor/Plugins/Editor/Nodes/Master.meta
unity/Assets/AmplifyShaderEditor/Plugins/Editor/Nodes/LogicalOperators.meta
unity/Assets/AmplifyShaderEditor/Plugins/Editor/Nodes/ImageEffects.meta
unity/Assets/AmplifyShaderEditor/Plugins/Editor/Nodes/HelperFuncs.meta
unity/Assets/AmplifyShaderEditor/Plugins/Editor/Nodes/Constants/ShaderVariables/Various.meta
unity/Assets/AmplifyShaderEditor/Plugins/Editor/Nodes/Constants/ShaderVariables/Transform.meta
unity/Assets/AmplifyShaderEditor/Plugins/Editor/Nodes/Constants/ShaderVariables/Time.meta
unity/Assets/AmplifyShaderEditor/Plugins/Editor/Nodes/Constants/ShaderVariables/Lighting.meta
unity/Assets/AmplifyShaderEditor/Plugins/Editor/Nodes/Constants/ShaderVariables/FogAndAmbient.meta
unity/Assets/AmplifyShaderEditor/Plugins/Editor/Nodes/Constants/ShaderVariables/CameraAndScreen.meta
unity/Assets/AmplifyShaderEditor/Plugins/EditorResources/UI/Nodes.meta
unity/Assets/AmplifyShaderEditor/Plugins/Editor/Utils.meta
unity/Assets/AmplifyShaderEditor/Plugins/Editor/Nodes/Constants/ShaderVariables.meta
unity/Assets/AmplifyShaderEditor/Plugins/Editor/Nodes/Constants.meta
unity/Assets/AmplifyShaderEditor/Plugins/Editor/Nodes.meta
unity/Assets/AmplifyShaderEditor/Plugins/Editor/Native.meta
unity/Assets/AmplifyShaderEditor/Plugins/Editor/Menu/Tools.meta
unity/Assets/AmplifyShaderEditor/Plugins/Editor/Menu/Palette.meta
unity/Assets/AmplifyShaderEditor/Plugins/Editor/Menu.meta
unity/Assets/AmplifyShaderEditor/Plugins/Editor/Graphs.meta
unity/Assets/AmplifyShaderEditor/Plugins/Editor/CustomDrawers.meta
unity/Assets/AmplifyShaderEditor/Plugins/Editor/Actions.meta
unity/Assets/AmplifyShaderEditor/Plugins/Editor.meta
unity/Assets/AmplifyShaderEditor/Plugins.meta
unity/Assets/AmplifyShaderEditor/Examples/Assets/ShaderFunctions/Official.meta
unity/Assets/AmplifyShaderEditor/Examples/Assets/ShaderFunctions.meta
unity/Assets/AmplifyShaderEditor/Examples/Assets.meta
unity/Assets/AmplifyShaderEditor/Examples.meta
unity/Assets/AmplifyShaderEditor.meta
